@page
@model IndexModel
@{
    ViewData["Title"] = "O autorze";
}

<div class="text-center">
    <img src="~/grafiki/alekoks.png" />
    <h1 class="display-4">Jan Kusek</h1>
    <h1 class="display-4">13K4</h1>
    <h1 class="display-4">Projekt C#</h1>
</div>
